<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EB.Crime.DB.Properties.Settings.EBCrimeConnectionString"
            connectionString="Data Source=.\SQLEXPRESSADV;Initial Catalog=EBCrime;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>