<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
	</appSettings>
	<connectionStrings>
		<add name="EB.Crime.DB.Properties.Settings.EBCrimeConnectionString"
				connectionString="Data Source=.\SQLEXPRESSADV;Initial Catalog=EBCrime;Integrated Security=True"
				providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
